<form [formGroup]="form"
      class="parameters-form">
  <div>
    <mat-slide-toggle formControlName="integrate">Integrate</mat-slide-toggle>
  </div>
  <div>
    <mat-form-field appearance="fill"
                    class="form-field">
      <mat-label>Exists</mat-label>
      <input matInput
             formControlName="exist">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill"
                    class="form-field">
      <mat-label>Cap</mat-label>
      <input matInput
             formControlName="cap">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill"
                    class="form-field">
      <mat-label>Power</mat-label>
      <input matInput
             formControlName="power">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill"
                    class="form-field">
      <mat-label>Min</mat-label>
      <input matInput
             formControlName="min">
    </mat-form-field>
    <mat-form-field appearance="fill"
                    class="form-field">
      <mat-label>ETA stor</mat-label>
      <input matInput
             formControlName="eta_stor">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill"
                    class="form-field">
      <mat-label>ETA char</mat-label>
      <input matInput
             formControlName="eta_char">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill"
                    class="form-field">
      <mat-label>ETA dis</mat-label>
      <input matInput
             formControlName="eta_dis">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill"
                    class="form-field">
      <mat-label>Fix invest</mat-label>
      <input matInput
             formControlName="invest_fix">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill"
                    class="form-field">
      <mat-label>Cap invest</mat-label>
      <input matInput
             formControlName="invest_cap">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill"
                    class="form-field">
      <mat-label>Power invest</mat-label>
      <input matInput
             formControlName="invest_power">
    </mat-form-field>
  </div>
</form>
<!-- <pre>{{ this.form.value | json }}</pre> -->
