<div class="container"
     *ngIf="simulationConfigLoaded$ | async as config; else loading">
  <div class="controls-container">
    <mat-form-field appearance="fill"
                    *ngIf="configsAvaliable$ | async as entities;">
      <mat-label>Select configuration</mat-label>
      <mat-select [formControl]="selectedConfig">
        <mat-option *ngFor="let entity of entities"
                    [value]="entity.id">
                    <ng-container *ngIf="entity.name.length > 0; else date">
                      {{entity.name}}
                    </ng-container>
                    <ng-template #date>
                      {{ entity.created_at | date:'d/M/yy, h:mm a' }}
                    </ng-template>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Config Name</mat-label>
      <input matInput
             [formControl]="selectedConfigName">
    </mat-form-field>
    <button mat-fab
    *ngIf="configId == 0"
            extended
            color="primary"
            type="button"
            (click)="createConfig()">
      <mat-icon>save</mat-icon>
      Save
    </button>
    <button mat-fab
    *ngIf="configId != 0"
            extended
            color="primary"
            type="button"
            (click)="editConfig()">
      <mat-icon>save</mat-icon>
      Update
    </button>
  </div>
  <div class="controls-container">
    <button mat-fab
            extended
            type="button"
            [color]="'accent'"
            (click)="processConfig()">
      <mat-icon>play_arrow</mat-icon>
      Show simulation
    </button>
  </div>
  <div #layout
       class="map-wrapper"
       [inlineSVG]="'assets/VISIO_12_12_2022.svg'"
       (onSVGInserted)="svgLoaded()"
       appSvgElementsClickListener
       (appSvgElementsClickListenerChange)="svgClicked($event)"
       appSvgElementsRightClickListener
       (appSvgElementsRightClickListenerChange)="svgClicked($event, true)"
       appSvgElementsHoverListener
       [configurableShapes]="configurableShapes$ | async"></div>
</div>

<!-- an hidden div is created to set the position of appearance of the menu-->
<div style="visibility: hidden; position: fixed;"
     [style.left]="menuTopLeftPosition.x"
     [style.top]="menuTopLeftPosition.y"
     [matMenuTriggerFor]="rightMenu"></div>

<!-- standard material menu -->
<mat-menu #rightMenu="matMenu">
  <ng-template matMenuContent
               let-unit_type="unit_type"
               let-unit_id="unit_id">
    <button mat-menu-item
            (click)="enable(unit_type, unit_id)">
      <mat-icon>link</mat-icon>
      <span>Enable</span>
    </button>
    <button mat-menu-item
            (click)="disable(unit_type, unit_id)">
      <mat-icon>link_off</mat-icon>
      <span>Disable</span>
    </button>
  </ng-template>
</mat-menu>

<ng-template #loading>
  <div class="container">
    Loading
  </div>
</ng-template>