<h1 class="headline">{{ clickedSvgElement || 'No selected element' }}</h1>

<div class="container">
  <div #layout
       class="map-wrapper"
       [inlineSVG]="'assets/VISIO_20_10_22.svg'"
       (onSVGInserted)="svgLoaded()"
       ></div>
  <div class="side-menu">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis ab, laborum necessitatibus reprehenderit
      labore quaerat suscipit officiis nemo porro quia ipsum sed totam, placeat sequi eum, ipsam assumenda officia
      sint?
    </p>
    <button mat-raised-button
            class="mat-button-large"
            type="button"
            [color]="'accent'"
            routerLink="/simulation-results">Results</button>
  </div>
</div>
