<form [formGroup]="form"
      class="parameters-form">
      <div>
        <mat-slide-toggle formControlName="integrate">Integrate</mat-slide-toggle>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Exists</mat-label>
          <input matInput formControlName="exist">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Max cap</mat-label>
          <input matInput formControlName="cap_max">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Min cap</mat-label>
          <input matInput formControlName="cap_min">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Operation min</mat-label>
          <input matInput formControlName="min_operation">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Fullload eff</mat-label>
          <input matInput formControlName="eff_fullload">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Minload eff</mat-label>
          <input matInput formControlName="eff_minload">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Ramp</mat-label>
          <input matInput formControlName="ramp">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Min ON</mat-label>
          <input matInput formControlName="min_on">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Min OFF</mat-label>
          <input matInput formControlName="min_off">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Start dur</mat-label>
          <input matInput formControlName="start_dur">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Down dur</mat-label>
          <input matInput formControlName="down_dur">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Inv fix</mat-label>
          <input matInput formControlName="inv_fix">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Inv cap</mat-label>
          <input matInput formControlName="inv_cap">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Opex main</mat-label>
          <input matInput formControlName="opex_main">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Opex fix</mat-label>
          <input matInput formControlName="opex_fix">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>Opex start</mat-label>
          <input matInput formControlName="opex_start">
        </mat-form-field>
      </div>
</form>
<!-- <pre>{{ this.form.value | json }}</pre> -->

