/* You can add global styles to this file, and also import other style files */

// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Reboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid"; // add the grid
@import "~bootstrap/scss/utilities"; // add css utilities

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.entered {
  > rect, > path {
    fill: green !important;
    opacity: 0.5;
  }

  * {
    cursor: pointer;
  }
}

.inactive {
  opacity: 0.1;
}

// g[id]:hover {
//   > rect, > path {
//     fill: red;
//     opacity: 0.5;
//     border: 2px solid black;
//   }
// }
