/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

$primaryColor: #f2e4f4;
$primaryLightColor: #ffffff;
$primaryDarkColor: #bfb2c1;
$secondaryColor: #ea80fc;
$secondaryLightColor: #ffb2ff;
$secondaryDarkColor: #b64fc8;
$primaryTextColor: #000000;
$secondaryTextColor: #000000;

@include mat.core();

$my-primary: mat.define-palette(mat.$indigo-palette, 500);
$my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// $my-primary: mat.define-palette(mat.$blue-gray-palette, 500, #8eacbb, #34515e, #000000);
// $my-accent: mat.define-palette(mat.$pink-palette, 200, #ffffff, #cb9ca1, #000000);

$my-theme: mat.define-light-theme((
 color: (
   primary: $my-primary,
   accent: $my-accent,
 )
));

// Emit theme-dependent styles for common features used across multiple components.
// @include mat.core-theme($my-theme);
@include mat.all-component-themes($my-theme);

// Emit styles for MatButton based on `$my-theme`. Because the configuration
// passed to `define-light-theme` omits typography, `button-theme` will not
// emit any typography styles.
// @include mat.button-theme($my-theme);

// Include the theme mixins for other components you use here.


// Imports functions, variables, and mixins that are needed by other Bootstrap files
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
// Import Reboot
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid"; // add the grid
@import "~bootstrap/scss/utilities"; // add css utilities

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.entered {
  > rect, > path {
    fill: green !important;
    opacity: 0.5;
  }

  * {
    cursor: pointer;
  }
}

.inactive {
  opacity: 0.1;
}

// g[id]:hover {
//   > rect, > path {
//     fill: red;
//     opacity: 0.5;
//     border: 2px solid black;
//   }
// }

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: transparent;
  -webkit-text-fill-color: white;
  // -webkit-box-shadow: 0 0 0px 1000px #000 inset;
  transition: background-color 5000s ease-in-out 0s;
}


.parameters-form {
  width: 550px;

  mat-form-field {
    width: 100%;
  }
}
