<mat-card appearance="outlined" class="mat-elevation-z6">
  <mat-card-header class="mat-headline-5">
    {{ 'Please Login' }}
  </mat-card-header>
  <mat-card-content class="mat-body-1">
    <form [formGroup]="loginForm"
          novalidate
          (submit)="onSubmit()">
      <mat-form-field class="w-100 mat-input-large"
                      appearance="outline">
        <mat-label>{{ 'Email' }}</mat-label>
        <input matInput
               type="text"
               formControlName="email"
               autocomplete="current-email">
        <mat-error *ngIf="emailFormatError">
          {{ 'Not a valid email address' }}
        </mat-error>
        <mat-error *ngIf="emailRequiredError">
          {{ 'Email is required' }}
        </mat-error>
      </mat-form-field>

      <mat-form-field class="w-100 mat-input-large"
                      appearance="outline">
        <mat-label>{{ 'Password' }}</mat-label>
        <input matInput
               type="password"
               formControlName="password"
               autocomplete="current-password">
        <mat-error *ngIf="passwordRequiredError">
          {{ 'Password is required' }}
        </mat-error>
      </mat-form-field>

      <div>
        <button mat-raised-button
                class="mat-button-large"
                type="submit"
                [color]="'accent'"
                [disabled]="loginForm.pristine || loginForm.invalid">{{ 'Submit' }}</button>
      </div>

    </form>

  </mat-card-content>
</mat-card>
