<mat-toolbar color="primary">
  <button mat-icon-button
          routerLink="/simulation-results"
          class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span routerLink="/simulation-setup">DekarPIO</span>
  <span class="example-spacer"></span>
  <button mat-icon-button
          routerLink="/login"
          class="example-icon"
          aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<div class="main">
  <router-outlet></router-outlet>
</div>
